Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.

In [ ]:
user_mail_id=input("Enter mail id")
user_office_name=user_mail_id.split("@")[1].split(".")[0]
print(user_office_name)

Enter mail idusername@companyname.com
companyname

In [ ]:
#second approch to solve first the problem 
import re
print(re.findall('(.+)@(.+)\.(.+)', user_mail_id)[0][1])

companyname

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

In [ ]:
user_input=input("please enter comma seperated string")
user_input_lst=user_input.split(",")
user_input_lst.sort()
listToStr = ','.join(map(str, user_input_lst))
listToStr

please enter comma seperated stringwithout,hello,bag,world

'bag,hello,without,world'

Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

In [48]:
eliments_set={1,2,3}
super_set={2, 4, 5, 10, 11, 12}

#add eliment --unorderd and unindex 
eliments_set.add(1)
eliments_set.add(2)
eliments_set.add(3)
eliments_set.add(4)
eliments_set.add(5)
eliments_set.add(5)

#remove eliment 
eliments_set.remove(3)
eliments_set.discard(4)

#pop eliment 
eliments_set.pop()

#update a set with any iterator collection
eliments_set.update([10, 11, 12])
val=eliments_set.issubset(super_set)
val2=eliments_set.issuperset(super_set)

print("intersection",eliments_set.isdisjoint(super_set) )

z = super_set.intersection(eliments_set) 
print("intersection",z)

x=super_set.difference(eliments_set)
super_set.difference_update(eliments_set)
print(x)
print(y)
print(super_set)

print("is subset",val)
print("is superset",val2)
print(eliments_set.union(super_set))

intersection False
intersection {2, 5, 10, 11, 12}
{4}
None
{4}
is subset True
is superset False
{2, 4, 5, 10, 11, 12}

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5

In [11]:
user_input=input("Please enter numbers, maintaining space")
user_input_set=set(map(int,(set(user_input.split(" ")))))
maximum_limit=int(max(user_input_set))+1
minimum_limit=int(min(user_input_set))
prediction_set=set(list(range(minimum_limit,maximum_limit)))
differnt_elm=prediction_set.difference(user_input_set)

if len(differnt_elm)>0:
  list(map(lambda x:print("missing eliment ",x),differnt_elm))
else:
  print("no missing eliment")

Please enter numbers, maintaining space1 2 4 6 3 7 8
missing eliment  5

With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [19]:
input_eliment=list(input("please enter comma seperated values").split(" "))
output_eliment=[]

for x in input_eliment:
  if x not in output_eliment:
    output_eliment.append(x)


print(output_eliment)

please enter comma seperated values12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '88', '120', '155']

2