
mroy.biswajit@gmail.com **submitted by Biswajit Roy**

Write a program to subtract two complex numbers in Python.

In [1]:
first_num=3+6j
second_num=2+2j
result=first_num-second_num
print(result)

(1+4j)

Write a program to find the fourth root of a number.

In [2]:
num=81
result= num**(1/float(4.0))
print(result)

3.0

Write a program to swap two numbers in Python with the help of a temporary variable.

In [7]:
first_num=10
second_num=5
print("the value of first num after swap is:",first_num,"& second value:",second_num)
temp=first_num
first_num=second_num
second_num=temp
print("the value of first num after swap is:",first_num,"& second value:",second_num)

the value of first num after swap is: 10 & second value: 5
the value of first num after swap is: 5 & second value: 10

Write a program to swap two numbers in Python without using a temporary variable.

In [19]:
first_num=20
second_num=30
print("the value of first num after swap is:",first_num,"& second value:",second_num)
first_num=first_num*second_num
second_num = first_num // second_num;  
first_num = first_num// second_num; 

print("the value of first num after swap is:",first_num,"& second value:",second_num)

the value of first num after swap is: 20 & second value: 30
20.0
the value of first num after swap is: 30 & second value: 20

Write a program to convert Fahrenheit to kelvin and celsius both.

In [18]:
fahrenheit=100
celcius=((fahrenheit-32)/9)*5
kelvin=((fahrenheit-32)/9)*5 + 273.15 

print(fahrenheit,"Degree Fahrenheit in celsius is","%.2f" % c,"& in kelvin","%.2f" % c)

100 Degree Fahrenheit in celsius is 37.78 & in kelvin 37.78

Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

In [33]:
first_data_type=10
second_data_type=10.00
third_type="python"
fourth_type=[1,2,3]
fifth_type=(1,2,3)
sixth_type={"x":1,"y":2}
eighth_type={1,2,3}
seventh_type=True
ninth_type=6+4j

print(type(first_data_type))
print(type(second_data_type))
print(type(third_type))
print(type(fourth_type))
print(type(fifth_type))
print(type(sixth_type))
print(type(seventh_type))
print(type(eighth_type))
print(type(ninth_type))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'set'>
<class 'complex'>